{% extends "plantilla.html" %}
{% block title %} Boutique | Pedido de Venta {% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
<div class="p-3">
    <div class="card card-info mx-4 my-4">
        <div class="card-header">
            <h1 class="card-title">AGREGAR PEDIDO DE VENTA</h1>
            {{variable}}
        </div>
        <div class="card-body">
            <form method="post">
            {% csrf_token %}
            <div class="row">                
                <div class="col-12 col-lg-3">
                    {{ form.codigo|as_crispy_field }}
                </div>
                <div class="col-12 col-lg-3">
                    
                </div>
                <div class="col-12 col-lg-3">
                    {{ form.fechaEmision|as_crispy_field }}
                </div>
                <div class="col-12 col-lg-3">
                    {{ form.fechaEntrega |as_crispy_field }}
                </div>


                <div class="col-12 col-lg-6">
                    {{ form.trabajador|as_crispy_field }}
                </div>
                <div class="col-12 col-lg-6">
                    {{ form.cliente|as_crispy_field }}
                </div>

                
                <div class="col-12 col-lg-3">
                    {{ form.tipoMoneda|as_crispy_field }}
                </div>
                <div class="col-12 col-lg-3">
                    {{ form.tasaCambio|as_crispy_field }}
                </div>                   
                <div class="col-12 col-lg-3">
                    {{ form.formaPago|as_crispy_field }}
                </div>                
                <div class="col-12 col-lg-3">
                    {{ form.estado|as_crispy_field }}
                </div>  

                  
                <div class="col-12 col-lg-3">
                    {{ form.tasaIgv|as_crispy_field }}
                </div>    
                   
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar Producto</button>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <table class="table" id="tableProductos">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">PRODUCTO</th>
                        <th scope="col">PRECIO UNITARIO</th>
                        <th scope="col">DESCUENTO UNITARIO</th>                        
                        <th scope="col">CANTIDAD</th>
                        <th scope="col">PRECIO TOTAL</th>
                        <th scope="col">ACCIONES</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-end">
                        <div class="">
                            <p>
                                <strong> Sub Total:</strong>
                                <span id="sub-total">0.00</span>
                            </p>
                            <p>
                                <strong> Descuento:</strong>
                                <span id="descuento">0.00</span>
                            </p>
                            <p>
                                <strong> Total:</strong>
                                <span id="totales">0.00</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end pt-3">
                <a href="{% url 'listarpedidoVenta' %}" class="btn btn-secondary">Cancelar</a> &nbsp;
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Lista Productos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <select id="productoSelected" class="form-select" aria-label="Default select example">
                {% if list_product %}
                    {% for itemproducto in list_product %}
                        <option value="{{itemproducto.idProducto}}_{{itemproducto.descripcion}}_{{itemproducto.precioUnitario}}_{{itemproducto.stock}}">{{itemproducto.descripcion}}</option>
                    {% endfor %}
                {% else %}
                {% endif %}
              </select>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="agregarTabla()">Save</button>
        </div>
      </div>
    </div>
  </div>

{% endblock%} 

{% block js %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                "title": "Warning",
                "text":"{{m}}",
                "icon":"info"
                })
            </script>
        {% endfor %}
    {% endif %}
    <script>   
        let indice = 0;
        let totales = 0;
        let subtotal = 0;
        let descuento = 0;
        let arrayIdProctuctos=[]; 
        function agregarTabla(){
            op = document.getElementById('productoSelected').value.split('_');
            console.log(op);
            if(document.getElementById('id_tasaIgv').value=='' || document.getElementById('id_tasaIgv').value==null){
                alert('Asigna el valor IGV');
            }else{
                if(compara(op[0],arrayIdProctuctos)){
                    alert('Ya ha seleccionado ese producto');
                }
                else{
                    arrayIdProctuctos[indice] = op[0];
                    let igv = document.getElementById('id_tasaIgv').value;
                    let calculando = (parseFloat(op[2].replace(/,/g, '.'))+(parseFloat(op[2].replace(/,/g, '.')).toFixed(2)*parseFloat(igv).toFixed(2))).toFixed(2);
                    $('#exampleModal').modal('hide');
                    fila = '<tr id="filaP'+(indice)+'"><td>'+indice+'</td><td><input type="hidden" name="idProducto[]" value="'+op[0]+'">'+op[0]+'</td><td><input type="hidden" name="idDescripcion[]" value="'+op[1]+'">'+op[1]+'</td><td><input type="hidden" id="filaPrecioUnitario'+(indice)+'" name="idPrecioUnitario[]" value="'+op[2].replace(/,/g, '.')+'">'+op[2].replace(/,/g, '.')+'</td><td><input onchange="actualizarPrecioTotalProducto('+indice+')" type="number" step="0.1" id="filaDescuentoUnitario'+(indice)+'" name="idDescuentoUnitario[]" value="0"><td><input type="number" step="1" name="idCantidad[]" value="1" id="filaCantidad'+(indice)+'" onchange="actualizarPrecioTotalProducto('+indice+')"></td><td><input readonly type="text" id="filaPrecioProductoTotal'+(indice)+'" name="idPrecioProductoTotal[]" value="'+calculando+'"</td><td align="center"><a href="#" class="btn btn-warning" onclick="quitarProducto('+indice+')">X</a></td></tr>';
                    document.getElementById('tableProductos').innerHTML += fila;

                    indice++;
                    let totales = 0;
                    let subtotal = 0;
                    let descuento = 0;
                    for (let index = 0; index < arrayIdProctuctos.length; index++) {
                        let precio_unitario = document.getElementById('filaPrecioUnitario'+index).value;
                        let descuento_unitario = document.getElementById('filaDescuentoUnitario'+index).value;
                        let cantidad = document.getElementById('filaCantidad'+index).value;
                        let precio_total = document.getElementById('filaPrecioProductoTotal'+index).value; 
                        
                        subtotal = subtotal + parseFloat(precio_unitario).toFixed(2)*parseFloat(cantidad);
                        descuento = descuento + parseFloat(descuento_unitario).toFixed(2)*1.0;
                        totales =  totales+ parseFloat(precio_total).toFixed(2)*1.0;
                         
                    }
                    console.log(totales);
                    document.getElementById('sub-total').innerHTML=parseFloat(subtotal).toFixed(2);
                    document.getElementById('descuento').innerHTML=parseFloat(descuento).toFixed(2);
                    document.getElementById('totales').innerHTML=parseFloat(totales).toFixed(2);

                }
            }
           
        }
        function actualizarPrecioTotalProducto(index){
            let igv = document.getElementById('id_tasaIgv').value;

            let precio_unitario = document.getElementById('filaPrecioUnitario'+index).value;
            let descuento_unitario = document.getElementById('filaDescuentoUnitario'+index).value;
            let cantidad = document.getElementById('filaCantidad'+index).value;
            let caulculo = (parseFloat(precio_unitario).toFixed(2)-parseFloat(descuento_unitario).toFixed(2))*parseFloat(cantidad).toFixed(2)
            console.log(caulculo);
            document.getElementById('filaPrecioProductoTotal'+index).value = (caulculo + caulculo*parseFloat(igv)).toFixed(2);
            let totales = 0;
            let subtotal = 0;
            let descuento = 0;
            for (let index = 0; index < arrayIdProctuctos.length; index++) {
                        let precio_unitario = document.getElementById('filaPrecioUnitario'+index).value;
                        let descuento_unitario = document.getElementById('filaDescuentoUnitario'+index).value;
                        let cantidad = document.getElementById('filaCantidad'+index).value;
                        let precio_total = document.getElementById('filaPrecioProductoTotal'+index).value; 
                        
                        subtotal = subtotal + parseFloat(precio_unitario).toFixed(2)*parseFloat(cantidad);
                        descuento = descuento + parseFloat(descuento_unitario).toFixed(2)*1.0;
                        totales =  totales+ parseFloat(precio_total).toFixed(2)*1.0;
                         
                    }
            console.log(totales);
            document.getElementById('sub-total').innerHTML=parseFloat(subtotal).toFixed(2);
            document.getElementById('descuento').innerHTML=parseFloat(descuento).toFixed(2);
            document.getElementById('totales').innerHTML=parseFloat(totales).toFixed(2);
            
        }
        function quitarProducto(index)
        {
            document.getElementById('filaP'+index).remove();
            arrayIdProctuctos.splice(index, 1);
            let totales = 0;
            let subtotal = 0;
            let descuento = 0;
            for (let index = 0; index < arrayIdProctuctos.length; index++) {
                        let precio_unitario = document.getElementById('filaPrecioUnitario'+index).value;
                        let descuento_unitario = document.getElementById('filaDescuentoUnitario'+index).value;
                        let cantidad = document.getElementById('filaCantidad'+index).value;
                        let precio_total = document.getElementById('filaPrecioProductoTotal'+index).value; 
                        
                        subtotal = subtotal + parseFloat(precio_unitario).toFixed(2)*parseFloat(cantidad);
                        descuento = descuento + parseFloat(descuento_unitario).toFixed(2)*1.0;
                        totales =  totales+ parseFloat(precio_total).toFixed(2)*1.0;
                         
                    }
            console.log(totales);
            document.getElementById('sub-total').innerHTML=parseFloat(subtotal).toFixed(2);
            document.getElementById('descuento').innerHTML=parseFloat(descuento).toFixed(2);
            document.getElementById('totales').innerHTML=parseFloat(totales).toFixed(2);
        }

        function compara(producto,vector){
		for(let i=0; i<vector.length; i++){
			if(producto==vector[i]){
				return true;
			}
		}
		return false;
	}
    </script>
{% endblock%} 